.itemBlock {
  .itemBlock__thumbnail {
    margin-bottom: 10px;
    width: 200px;
    height: 200px;
  }
  .itemBlock__title {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 10px;
  }
}
